<a href="https://colab.research.google.com/github/urmila-24/DATA_ANALYSIS-LAB/blob/main/201951164_Urmila_Rathore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
data = pd.read_csv(r'/content/health.csv')
print(data)
print (data.shape)

     Vaccine                 Country Name      2000 [YR2000]  \
0       HIB3                  Afghanistan                 ..
1       HIB3  Africa Eastern and Southern   5.10608022226771
2       HIB3   Africa Western and Central  0.461609931536671
3       HIB3                      Albania                 ..
4       HIB3                      Algeria                 ..
...      ...                          ...                ...
1857    POL3           West Bank and Gaza                 ..
1858    POL3                        World   73.5751895869048
1859    POL3                  Yemen, Rep.                 74
1860    POL3                       Zambia                 85
1861    POL3                     Zimbabwe                 78

          2001 [YR2001]     2002 [YR2002]     2003 [YR2003]     2004 [YR2004]  \
0                    ..                ..                ..                ..
1      4.84897579522011  17.4607066995505  18.1566279312654  23.6239707592073
2     0.438635406307169  5.47416540747535  5.40072521196181  5.33648734434168
3                    ..                ..                ..                ..
4                    ..                ..                ..                ..
...                 ...               ...               ...               ...
1857                 ..                ..                ..                ..
1858    74.013453948257  74.6297313205306  75.4393578535257   76.084476237788
1859                 73                64                61                72
1860                 86                85                85                84
1861                 76                73                70                67

         2005 [YR2005]     2006 [YR2006]     2007 [YR2007]  ...  \
0                   ..                ..                ..  ...
1     24.7006377513624  25.5596598958785  36.3719158083792  ...
2     7.08430808205681  14.6555728626289   18.775833764749  ...
3                   ..                ..                ..  ...
4                   ..                ..                ..  ...
...                ...               ...               ...  ...
1857                ..                ..                ..  ...
1858  78.1445485302398    79.45550598231  80.4583282452022  ...
1859                80                78                79  ...
1860                84                83                77  ...
1861                69                71                73  ...

         2010 [YR2010]     2011 [YR2011]     2012 [YR2012]     2013 [YR2013]  \
0                   66                68                67                64
1     71.9240550572376  75.4086480558665  75.0469919658014  75.4257961763254
2     41.5426500465032  40.5162623844271  46.1580491004925  53.2939563302572
3                   99                99                99                99
4                   95                95                95                95
...                ...               ...               ...               ...
1857                ..                ..                ..                ..
1858  83.5655114999131  84.2123703818386  84.2724455006311  84.2171152648849
1859                77                69                68                67
1860                80                83                70                74
1861                89                93                95                95

         2014 [YR2014]     2015 [YR2015]     2016 [YR2016]     2017 [YR2017]  \
0                   62                65                66                66
1     76.9740427994174  76.7552220207984  76.2571405083487  75.9107848899418
2     60.9707407070412  60.7181737069332  66.3780779498131  67.8162296015319
3                   98                99                98                99
4                   95                95                91                91
...                ...               ...               ...               ...
1857                ..                ..                ..                ..
1858  84.6507782701379   85.319919168451  85.0221884295437  85.5151831071716
1859                67                63                65                62
1860                78                90                87                92
1861                92                88                90                89

         2018 [YR2018]     2019 [YR2019]
0                   66                66
1     76.5992054456554  76.6768207052784
2     67.4915495455716  68.4859603399358
3                   99                99
4                   91                91
...                ...               ...
1857                ..                ..
1858  85.5531660348099  85.7845765256424
1859                59                67
1860                90                89
1861                89                90

[1862 rows x 22 columns]
(1862, 22)

In [19]:
import sys
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

data=pd.read_csv("/content/health.csv")
data

,Vaccine,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,HIB3,Afghanistan,..,..,..,..,..,..,..,..,...,66,68,67,64,62,65,66,66,66,66
1,HIB3,Africa Eastern and Southern,5.10608022226771,4.84897579522011,17.4607066995505,18.1566279312654,23.6239707592073,24.7006377513624,25.5596598958785,36.3719158083792,...,71.9240550572376,75.4086480558665,75.0469919658014,75.4257961763254,76.9740427994174,76.7552220207984,76.2571405083487,75.9107848899418,76.5992054456554,76.6768207052784
2,HIB3,Africa Western and Central,0.461609931536671,0.438635406307169,5.47416540747535,5.40072521196181,5.33648734434168,7.08430808205681,14.6555728626289,18.775833764749,...,41.5426500465032,40.5162623844271,46.1580491004925,53.2939563302572,60.9707407070412,60.7181737069332,66.3780779498131,67.8162296015319,67.4915495455716,68.4859603399358
3,HIB3,Albania,..,..,..,..,..,..,..,..,...,99,99,99,99,98,99,98,99,99,99
4,HIB3,Algeria,..,..,..,..,..,..,..,..,...,95,95,95,95,95,95,91,91,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857,POL3,West Bank and Gaza,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1858,POL3,World,73.5751895869048,74.013453948257,74.6297313205306,75.4393578535257,76.084476237788,78.1445485302398,79.45550598231,80.4583282452022,...,83.5655114999131,84.2123703818386,84.2724455006311,84.2171152648849,84.6507782701379,85.319919168451,85.0221884295437,85.5151831071716,85.5531660348099,85.7845765256424
1859,POL3,"Yemen, Rep.",74,73,64,61,72,80,78,79,...,77,69,68,67,67,63,65,62,59,67
1860,POL3,Zambia,85,86,85,85,84,84,83,77,...,80,83,70,74,78,90,87,92,90,89
1861,POL3,Zimbabwe,78,76,73,70,67,69,71,73,...,89,93,95,95,92,88,90,89,89,90

In [20]:

print(data.columns[9])

2007 [YR2007]

In [21]:

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1862 entries, 0 to 1861
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Vaccine        1862 non-null   object
 1   Country Name   1862 non-null   object
 2   2000 [YR2000]  1862 non-null   object
 3   2001 [YR2001]  1862 non-null   object
 4   2002 [YR2002]  1862 non-null   object
 5   2003 [YR2003]  1862 non-null   object
 6   2004 [YR2004]  1862 non-null   object
 7   2005 [YR2005]  1862 non-null   object
 8   2006 [YR2006]  1862 non-null   object
 9   2007 [YR2007]  1862 non-null   object
 10  2008 [YR2008]  1862 non-null   object
 11  2009 [YR2009]  1862 non-null   object
 12  2010 [YR2010]  1862 non-null   object
 13  2011 [YR2011]  1862 non-null   object
 14  2012 [YR2012]  1862 non-null   object
 15  2013 [YR2013]  1862 non-null   object
 16  2014 [YR2014]  1862 non-null   object
 17  2015 [YR2015]  1862 non-null   object
 18  2016 [YR2016]  1862 non-null   object
 19  2017 [YR2017]  1862 non-null   object
 20  2018 [YR2018]  1862 non-null   object
 21  2019 [YR2019]  1862 non-null   object
dtypes: object(22)
memory usage: 320.2+ KB
None

In [22]:
data=data.replace('..', np.nan)
count = data.isna().sum().sum()
print(count)

8172

In [ ]:

columns=list(data.columns.values[11:])
data[columns]=data[columns].astype("float64")
data.info()

In [ ]:

data_2015=data[{"Vaccine","Country Name","2015 [YR2015]"}]
data_2015

data_hib3=data_2015.loc[data_2015["Vaccine"]=="HIB3"]
print(data_hib3.loc[data_hib3["Country Name"]=="India"])

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1862 entries, 0 to 1861
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Vaccine        1862 non-null   object
 1   Country Name   1862 non-null   object
 2   2000 [YR2000]  1227 non-null   object
 3   2001 [YR2001]  1267 non-null   object
 4   2002 [YR2002]  1309 non-null   object
 5   2003 [YR2003]  1339 non-null   object
 6   2004 [YR2004]  1358 non-null   object
 7   2005 [YR2005]  1385 non-null   object
 8   2006 [YR2006]  1401 non-null   object
 9   2007 [YR2007]  1424 non-null   object
 10  2008 [YR2008]  1446 non-null   object
 11  2009 [YR2009]  1477 non-null   object
 12  2010 [YR2010]  1492 non-null   object
 13  2011 [YR2011]  1510 non-null   object
 14  2012 [YR2012]  1521 non-null   object
 15  2013 [YR2013]  1535 non-null   object
 16  2014 [YR2014]  1547 non-null   object
 17  2015 [YR2015]  1556 non-null   object
 18  2016 [YR2016]  1562 non-null   object
 19  2017 [YR2017]  1564 non-null   object
 20  2018 [YR2018]  1569 non-null   object
 21  2019 [YR2019]  1579 non-null   object
dtypes: object(22)
memory usage: 320.2+ KB

In [15]:
data[data.columns[11:]]=data[data.columns[11:]].astype('float') 
check=data[data['Country Name']=='India']

ValueError: ignored