<a href="https://colab.research.google.com/github/urmila-24/DATA_ANALYSIS-LAB/blob/main/201951164_CS312_Lab14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import stats

df=pd.read_csv('IPL_Auction_2022_FullList.csv')
df

,Set No.,Set Name,Player,Country,State Association,Age,Specialism,Batting,Bowling,IPL,Previous IPLTeam(s),2021 Team,C/U/A,Base Price,Sold Price,New Franchise,Bid
0,1,M,Trent Boult,New Zealand,NaN,32,BOWLER,RHB,LEFT ARM Fast Medium,62.0,"SRH, KKR, DD,MI",MI,Capped,200,8 CR,Rajasthan Royals,Sold
1,1,M,Pat Cummins,Australia,NaN,28,ALL-ROUNDER,RHB,RIGHT ARM Fast,37.0,"DD, MI, KKR",KKR,Capped,200,7.25 CR,Kolkata Knight Riders,Sold
2,1,M,Shikhar Dhawan,India,DDCA,36,BATSMAN,LHB,-,192.0,"DCH, MI, SRH, DC",DC,Capped,200,8.25 CR,Punjab Kings,Sold
3,1,M,Shreyas Iyer,India,MCA,27,BATSMAN,RHB,RIGHT ARM Leg Spin,87.0,DC,DC,Capped,200,12.25 CR,Kolkata Knight Riders,Sold
4,1,M,Kagiso Rabada,South Africa,NaN,26,BOWLER,LHB,RIGHT ARM Fast,50.0,DC,DC,Capped,200,9.25 CR,Punjab Kings,Sold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,62,UAL15,Safyaan Sharif,Scotland,NaN,30,ALL-ROUNDER,RHB,RIGHT ARM Fast Medium,NaN,NaN,NaN,Associate,20,NaN,NaN,UnSold
585,62,UAL15,Henry Shipley,New Zealand,NaN,25,ALL-ROUNDER,RHB,RIGHT ARM Fast Medium,NaN,NaN,NaN,Uncapped,20,NaN,NaN,UnSold
586,62,UAL15,Maxwell Swaminathan,India,MCA,23,ALL-ROUNDER,RHB,RIGHT ARM Off Spin,NaN,NaN,NaN,Uncapped,20,NaN,NaN,UnSold
587,62,UAL15,Johan Van Dyk,South Africa,NaN,28,ALL-ROUNDER,RHB,RIGHT ARM Fast Medium,NaN,NaN,NaN,Uncapped,20,NaN,NaN,UnSold
588,62,UAL15,Dunith Wellalage,Sri Lanka,NaN,19,ALL-ROUNDER,LHB,LEFT ARM Slow Orthodox,NaN,NaN,NaN,Uncapped,20,NaN,NaN,UnSold

In [2]:
# Contingency table from ”Specialism” and ”Batting” type of player.
coc=pd.crosstab(df["Batting"], df["Specialism"])

In [3]:
coc

Specialism  ALL-ROUNDER  BATSMAN  BOWLER  WICKETKEEPER
Batting
LHB                  75       36      50            13
RHB                 152       66     152            45

In [4]:
box = [1] * 174
box.extend([0] * 415)
random.shuffle(box)

In [5]:
def chi2(observed, expected):
    pearson_residuals = []
    for row, expect in zip(observed, expected):
        tmp=[]
        for observe in row:
            R=(observe - expect) ** 2 / expect
            tmp.append(R)
        pearson_residuals.append(tmp)
    X=np.sum(pearson_residuals)
    return X

In [6]:
expected_lhb = 174/4
expected_rhb = 500 - expected_lhb
expected = [expected_lhb, expected_rhb]
chi2observed = chi2(coc.values, expected)
print(f'Observed chi2: {chi2observed:.4f}')

Observed chi2: 1157.6602

In [7]:
chisq, pvalue, df, expected = stats.chi2_contingency(coc)
print(f'Observed chi2: {chi2observed:.4f}')
print(f'p-value: {pvalue:.4f}')

Observed chi2: 1157.6602
p-value: 0.0859